{% extends "@NovosgaMonitor/base.html.twig" %}

{% block body %}
    <div id="monitor">
        <div class="row">
            <div class="col-8">
                <h1>
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    {% trans %}Monitor{% endtrans %}
                    <small>
                        {% trans %}Gerencie os atendimentos da unidade{% endtrans %}
                    </small>
                </h1>
            </div>
            <div class="col-4">
                <form class="pull-right" role="search"  v-on:submit.prevent="consulta">
                    <div class="input-group">
                        <input type="text" class="form-search form-control" placeholder="{% trans %}Buscar senha{% endtrans %}" v-model="search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i>&nbsp;
                                {% trans %}Consultar{% endtrans %}
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <hr>
        
        <div class="servicos row" v-cloak>
            <div class="col-md-6" v-for="item in servicos">
                <div class="card">
                    <div class="card-header">
                        {% verbatim %}
                            {{ item.servicoUnidade.sigla }} - {{ item.servicoUnidade.servico.nome }}
                        {% endverbatim %}
                        <div class="pull-right">
                            <span class="badge badge-primary">
                                {% trans %}Normal{% endtrans %}
                                {% verbatim %}
                                    {{ totalPorSituacao(item.fila, false) }}
                                {% endverbatim %}
                            </span>
                            <span class="badge badge-danger">
                                {% trans %}Prioridade{% endtrans %}
                                {% verbatim %}
                                    {{ totalPorSituacao(item.fila, true) }}
                                {% endverbatim %}
                            </span>
                            <span class="badge badge-secondary">
                                {% trans %}Total{% endtrans %}
                                {% verbatim %}
                                    {{ item.fila.length }}
                                {% endverbatim %}
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="fila list-inline">
                            <li v-for="atendimento in item.fila" v-bind:class="{prioridade: atendimento.prioridade.peso > 0 }" class="list-inline-item">
                                <a href="#" v-on:click="view(atendimento)" v-bind:title="atendimento.prioridade.nome + ' (' + atendimento.espera + ')'">
                                    {% verbatim %}
                                        {{atendimento.senha.format}}
                                    {% endverbatim %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        {# busca #}
        <div id="dialog-busca" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Busca{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="row" role="form" v-on:submit.prevent="consultar">
                            <div class="col-3">
                                <div class="input-group">
                                    <input type="text" maxlength="10" class="form-search form-control" placeholder="{% trans %}Senha completa, sigla ou número{% endtrans %}" v-model="search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" title="{% trans %}Consultar{% endtrans %}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="result">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            {% trans %}Número{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Serviço{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Data chegada{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Data início{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Data fim{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Triagem{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Atendente{% endtrans %}
                                        </th>
                                        <th>
                                            {% trans %}Situação{% endtrans %}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% verbatim %}
                                        <tr v-for="atendimento in searchResult" v-bind:class="{danger: (atendimento.status === 'nao_compareceu' || atendimento.status === 'cancelada')}">
                                            <td>
                                                <a href="#" v-on:click.prevent="view(atendimento)">
                                                    {{atendimento.senha.format}}
                                                </a>
                                            </td>
                                            <td>
                                                {{atendimento.servico.nome}}
                                            </td>
                                            <td>
                                                <span v-if="atendimento.chegada">
                                                    {{moment(atendimento.chegada, 'YYYY-MM-DD hh:mm:ss').format('DD/MM/YYYY hh:mm:ss')}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.inicio">
                                                    {{moment(atendimento.inicio, 'YYYY-MM-DD hh:mm:ss').format('DD/MM/YYYY hh:mm:ss')}}
                                                </span>
                                            </td>
                                            <td>
                                                <span v-if="atendimento.fim">
                                                    {{moment(atendimento.fim, 'YYYY-MM-DD hh:mm:ss').format('DD/MM/YYYY hh:mm:ss')}}
                                                </span>
                                            </td>
                                            <td>
                                                {{atendimento.triagem}}
                                            </td>
                                            <td>
                                                {{atendimento.usuario}}
                                            </td>
                                            <td>
                                                {{atendimento.status}}
                                            </td>
                                        </tr>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# view #}
        <div id="dialog-view" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans %}Atendimento{% endtrans %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" v-if="atendimento">
                        <input type="hidden" v-bind:valuee="atendimento.id" />
                        <fieldset>
                            <legend>{% trans %}Senha|Bilhete{% endtrans %}</legend>
                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        {% trans %}Número{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.senha.format}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Prioridade{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.prioridade.nome}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>{% trans %}Serviço{% endtrans %}</label>
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.servico.nome}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Data chegada{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{moment(atendimento.chegada, 'YYYY-MM-DD hh:mm:ss').format('DD/MM/YYYY hh:mm:ss')}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Tempo de espera{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.espera}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Data início{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.inicio}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Data fim{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.fim}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Situação{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.status}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                                
                                
                        <fieldset v-if="atendimento.cliente">
                            <legend>{% trans %}Cliente{% endtrans %}</legend>
                            <table class="table table-bordered">
                                <tr>
                                    <th>
                                        {% trans %}Nome{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.cliente.nome}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        {% trans %}Documento{% endtrans %}
                                    </th>
                                    <td>
                                        {% verbatim %}
                                            {{atendimento.cliente.documento}}
                                        {% endverbatim %}
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                    <div class="modal-footer" v-if="atendimento">
                        <button type="button" class="btn btn-primary" v-on:click="reativar(atendimento)" v-if="atendimento.status === 'cancelada' || atendimento.status === 'nao_compareceu'">
                            {% trans %}Reativar senha{% endtrans %}
                        </button>

                        <button type="button" class="btn btn-secondary" v-on:click="transfere(atendimento)" v-if="atendimento.status === 'emitida'">
                            {% trans %}Transferir / Alterar senha{% endtrans %}
                        </button>

                        <button type="button" class="btn btn-danger" v-on:click="cancelar(atendimento)" v-if="atendimento.status === 'emitida'">
                            {% trans %}Cancelar senha{% endtrans %}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {# transfere #}
        <div id="dialog-transfere" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                {{ form_start(transferirForm, { attr: { 'v-on:submit.prevent': 'transferir(atendimento, novoServico, novaPrioridade)' } }) }}
                    <div class="modal-content" v-if="atendimento">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {% trans %}Tranferir Senha{% endtrans %}
                                <span class="badge">
                                    {% verbatim %}
                                        {{atendimento.senha.format}}
                                    {% endverbatim %}
                                </span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            
                            {{ form_row(transferirForm.servico, { label: 'Novo serviço', attr: { 'v-model': 'novoServico' } }) }}
                            
                            {{ form_row(transferirForm.prioridade, { label: 'Nova prioridade', attr: { 'v-model': 'novaPrioridade' } }) }}
                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                {% trans %}Transferir{% endtrans %}
                            </button>
                        </div>
                    </div>
                {{ form_end(transferirForm) }}
            </div>
        </div>

        <div id="sga-clock" title="{% trans %}Data e hora no servidor{% endtrans %}}"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/novosgamonitor/css/style.css') }}">
{% endblock %}    

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var ids = [{% for su in servicos %}{{su.servico.id}},{% endfor %}],
            unidade = {{ unidade|json_encode()|raw }};
    </script>
    <script type="text/javascript" src="{{ asset('bundles/novosgamonitor/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/novosgamonitor/js/script.js') }}"></script>
    <script type="text/javascript">
        App.Clock.init("sga-clock", {{ milis }});
        App.Monitor.labelSim = '{% trans %}Sim{% endtrans %}';
        App.Monitor.labelNao = '{% trans %}Não{% endtrans %}';
        App.Monitor.alertTitle = '{% trans %}Atenção!{% endtrans %}';
        App.Monitor.alertCancelar = '{% trans %}Deseja realmente cancelar essa senha?{% endtrans %}';
        App.Monitor.alertReativar = '{% trans %}Deseja realmente reativar essa senha?{% endtrans %}';
        App.Monitor.alertTransferir = '{% trans %}Deseja realmente transferir essa senha?{% endtrans %}';
    </script>
{% endblock %}
